@font-face {
  font-family: "Futura PT";
  src: url("../../shared/assets/fonts/futura-pt-heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../../shared/assets/fonts/futura-pt-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../../shared/assets/fonts/futura-pt-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
