@font-face {
  font-family: "Futura PT";
  src: url("../../shared/assets/fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../../shared/assets/fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../../shared/assets/fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
