html {
  --color-font-primary: #ffffff;
  --color-font-secondary: #ff5858;
  --color-bg-body: #181818;
  --color-bg-button-default: #ec3f3f;
  --color-bg-button-hover: #ff1e1e;
  --color-border-button: 1px solid rgba(236, 63, 63, 0.8);
  --color-input-default: rgba(255, 255, 255, 0.1);
  --color-input-error: rgba(236, 63, 63, 0.2);
  --font-header1-size: 56px;
  --font-header2-size: 40px;
  --font-header3-size: 32px;
  --font-header4-size: 24px;
  --font-text-size: 16px;
  --font-link-size: 14px;
  --font-text-family: "Futura PT Book", sans-serif;
}
