.applicationpage {
  margin: 40px auto 90px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.socialscontainer {
  width: 49%;
  margin-top: 95px;
}

.socials {
  margin: 0 0 25px;
  font-weight: 600;
  font-size: var(--font-header3-size);
  line-height: 125%;
  &:first-of-type {
    font-size: var(--font-header2-size);
  }
}

.socialstitle {
  margin-bottom: -10px;
  opacity: 0.6;
  font-weight: 400;
  font-size: var(--font-text-size);
}

@media (max-width: 1024px) {
  .applicationpage {
    margin: 30px auto 90px;
  }
  .socialscontainer {
    margin-top: 65px;
  }
  .socials {
    margin: 0 0 30px;
  }
  .socialstitle {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .applicationpage {
    flex-direction: column;
    gap: 30px;
    margin: 25px auto 40px;
  }
  .socialscontainer {
    width: 100%;
    margin-top: 0;
  }
  .socials {
    margin: 0 0 20px;
  }
}
