.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  font-family: var(--font-text-family);
  font-size: var(--font-text-size);
  font-weight: 600;
  line-height: 150%;
  color: var(--color-font-primary);
  transition: 0.4s;
  cursor: pointer;
}

.color {
  width: 205px;
  height: 56px;
  background: var(--color-bg-button-default);
  &:hover {
    box-shadow: var(--color-shadow-button);
    background: var(--color-bg-button-hover);
  }
}

.opacitybig {
  width: 100%;
  height: 56px;
  border: var(--color-border-button);
  background: rgba(236, 63, 63, 0.1);
  &:hover {
    box-shadow: var(--color-shadow-button);
    background: var(--color-bg-button-hover);
  }
}

.opacitythin {
  width: 222px;
  height: 48px;
  background: rgba(236, 63, 63, 0.15);
  border: var(--color-border-button);
  &:hover {
    box-shadow: var(--color-shadow-button);
    background: var(--color-bg-button-hover);
  }
}

@media (max-width: 767px) {
  .color {
    width: 186px;
    height: 48px;
  }
  .opacitythin {
    width: 210px;
  }
}
