.kadr {
  margin-bottom: 100px;
}

.kadrcontainer {
  margin: 40px 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 282px 282px;
  gap: 24px;
  & div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / span 2;
  }
  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
}
