.icon {
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: scale(1.2);
  }
}

.social {
  border-radius: 50%;
  background: transparent;
  transition: 0.4s;
  cursor: pointer;
  & path {
    transition: 0.4s;
  }
  &:hover {
    background: #fff;
    & path {
      fill: var(--color-bg-button-hover);
    }
  }
}

.navigation {
  transition: 0.4s;
  cursor: pointer;
}
