.icon {
  transition: 0.4s;
  cursor: pointer;
}

.social {
  border-radius: 50%;
  background: transparent;
  & path {
    transition: 0.4s;
  }
  &:hover {
    background: #fff;
    & path {
      fill: var(--color-bg-button-hover);
    }
  }
}

.navigation svg {
  &:hover path {
    fill: var(--color-bg-button-hover);
  }
}
