.actors {
  margin-bottom: 70px;
}

.card {
  position: relative;
  transition: 0.4s;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background: transparent;
    transition: 0.4s;
  }
  &:hover {
    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
    & .text {
      transform: translateY(-275px);
    }
    & .desc {
      opacity: 1;
      visibility: visible;
    }
  }
}

.text {
  position: absolute;
  left: 24px;
  bottom: 40px;
  transition: 0.4s;
}

.name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: var(--font-header4-size);
  line-height: 133%;
}

.actor {
  font-size: var(--font-header4-size);
}

.desc {
  width: 215px;
  position: absolute;
  left: 24px;
  bottom: 34px;
  line-height: 125%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .actors {
    margin-bottom: 50px;
  }
  .card:hover {
    & .text {
      transform: translateY(-265px);
    }
  }
  .text,
  .desc {
    left: 15px;
  }
}

@media (max-width: 767px) {
  .actors {
    margin-bottom: 60px;
  }
  .text,
  .desc {
    bottom: 23px;
  }
  .desc {
    width: 90%;
  }
  .card:hover {
    & .text {
      transform: translateY(-200px);
    }
  }
}
