.swiper {
  padding-top: 85px;
  margin-top: -30px;
  overflow: visible;
}

.swiper-pagination-progressbar {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 2px;
  left: 0;
  top: 55px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--color-bg-button-default);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -7px;
  width: 18px;
  height: 32px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.276 15.1219L2.47506 0.361867C1.99013 -0.121444 1.20501 -0.120631 0.720883 0.364367C0.237135 0.849302 0.238385 1.63486 0.723383 2.11855L14.6433 16L0.722883 29.8815C0.237947 30.3652 0.236697 31.1503 0.720383 31.6353C0.963069 31.8784 1.28101 32 1.59894 32C1.91607 32 2.23275 31.8792 2.475 31.6378L17.276 16.8782C17.5096 16.6458 17.6406 16.3295 17.6406 16C17.6406 15.6706 17.5092 15.3547 17.276 15.1219Z' fill='%23EC3F3F' /%3e%3c/svg%3e");
  transition: 0.4s;
  cursor: pointer;
}

.swiper-button-next {
  right: 7px;
  &:hover {
    filter: drop-shadow(0 2px 12px #ff1e1e);
  }
}

.swiper-button-prev {
  right: 60px;
  transform: rotate(180deg);
}

.swiper-button-disabled {
  filter: grayscale(1);
  cursor: auto;
  &:hover {
    filter: grayscale(1);
  }
}
